@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --background: #faf8f4;
  --foreground: #1e1c1c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto), sans-serif;
}


