@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #1e1c1c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto), sans-serif;
}

.custom-slider .swiper-button-next:after, .custom-slider .swiper-button-prev:after{
font-size: 28px;
font-weight: 900;
color:#006BA6;
}

.modal-gallery-slider .swiper-button-next, .modal-gallery-slider .swiper-button-prev{
  color:#fff;
}